.Card {
  grid-row: span 4;
  padding: var(--space-md);
  border: 1px solid lightblue;
  article {
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--space-md);

    img {
      justify-self: center;
      height: 150px;
      width: 150px;
    }
  }
}
