:root {
  /* Spacing */

  --space-sm: 0.5rem;
  --space-md: 1.2rem;
  --space-lg: 2.4rem;
  --space-xl: 5rem;
  --space-2xl: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: black;

  display: grid;
  grid-template-columns: minmax(0rem, 1fr) minmax(0, 68.75rem) minmax(0rem, 1fr);
}

li {
  list-style: none;
}

.appContainer {
  grid-column: 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header,
  footer {
    padding: 1.5rem 2rem;
  }

  main {
    flex: 1;
  }
}
